In [12]:
import pandas as pd

In [13]:
# 2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [14]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [15]:
# Series = 1-dimentional

In [17]:
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

In [19]:
# DataFrame = 2-dimentional
car_data = pd.DataFrame({"Car make" : series, "Color" : colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White